.container-home {
    display: flex;
    flex-direction: column;
    width: 90vw; 
    margin-top: 100px;
    margin-left: 30px;
    top: 0;
    left: 0;
    background: #fff;
    padding-bottom: 30px;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse:separate;
    border-spacing:0 15px;
    width: 100%;
    border: none
}
  